<style>
    .home-header {
        background-image: url('/images/shutterstock_412257712-2.jpg');
        min-height: 75vh;
        background-position: center;
        display: grid;
        align-items: center;
        padding: 10px;
        grid-auto-flow: column;
        justify-content: center;
    }

    .home-header>div {
        width: 70vw;
    }

    #search-input {
        width: 70vw;
        max-width: 750px;
        border-radius: 2px;
    }

    #jobs-filter {
        padding: 5px;
        display: grid;
        text-align: center;
    }

    #jobs-filter>div {
        justify-self: center;
    }

    #select-filter>div>input {
        box-shadow: 1px 1px 16px var(--background-color);
        background-color: white;
        box-sizing: border-box;
        border-radius: 15px;
        height: 35px;
        padding: 9px;
    }

    #areas {
        margin-top: 20px;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        justify-self: start;
    }
</style>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" style="height: fit-content;"><b>Alert Jobs</b></a>
                <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">ACCEUIL</a></li>
                    <li><a href="/employers">RECRUTEURS</a></li>
                    {{!-- <li><a href="/about">A PROPOS</a></li> --}}
                    <li><a href="/login">LOGIN</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">ACCEUIL</a></li>
        <li><a href="/employers">RECRUTEURS</a></li>
        {{!-- <li><a href="/about">A PROPOS</a></li> --}}
        <li><a href="/login">LOGIN</a></li>
    </ul>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
</header>
<div id="login-error" style="background: #ff000061; font-size: 25px; text-align: center;">{{errorMessage}}</div>
{{#if showJobFilter}}
{{#if job?.job_flyer}}
<div class="home-header" style="background-image: url(/images/{{job_flyer}});">
    <div class="input-field">
        <input type="text" name="search" id="search-input" class="autocomplete" placeholder="Que cherchez-vous ?">
    </div>
</div>
{{else}}
<div class="home-header">
    <div class="input-field">
        <h4 style="font-weight: bold; text-transform: uppercase; text-align: center; color: var(--background-color);">
            Retrouvez les jobs de votre localité</h4>
        <div style="display: grid; grid-auto-flow: column; justify-content: center;">
            <input type="text" name="search" id="search-input" class="autocomplete" placeholder="Que cherchez-vous ?">
        </div>
        <div id="jobs-filter" style="padding: 5px; text-align: center;">
            <h4 style="font-weight: bold;">Quels sont vos critères </h4>
            <div id="select-filter" style="display: flex; gap: 10px;justify-content: center;">
                <select name="location">
                    {{#each countries}}
                    <optgroup label="{{country_name}}">
                        {{#each locations}}
                        <option value="{{location_id}}">{{town}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                </select>
                <select name="tag">
                    {{#each tags}}
                    <option value="CDD">{{tag_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div id="jobs-area" style="text-align: center;"></div>
    </div>
</div>
{{/if}}
{{/if}}